#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p, label, span {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  &__content {
    padding: 0 40px;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      padding: 0 15px;
    }
  }
}

.mobile__elm {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: block;
  }
}